@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
    background-color: #FAF5F1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


h1 {
    font-family: "prata";
    font-size: 110px;
    margin: 0%;
}

h2 {
    font-family: "Kaisei Decol"
}

h3 {
    font-family: "Keisei Decol";
}

header {
    background: #ffffff;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 2;
}

nav.navbar {
    height: 60px;
    padding-left: 25px;
    margin-right: 35px;
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;

}

nav a {
    text-decoration: none;
}

nav .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

nav .nav-uno,
nav .nav-dos {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: Prata;
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #000000;
    font-family: Prata;
}

.logo img {
    width: auto;
    height: 50px;
}



a:link {
    color: #333;
}

a:visited {
    color: #333;
}

a:hover {
    color: #815783;
}

a:active {
    color: #333;
}

.home-center {
    background-color: #F3DBE6;
    display: flex;
    justify-content: start;
    align-items: center;
    color: #383838;
    flex-wrap: wrap;
    padding: 30px;
}

.home-center img {
    width: 42%;
    object-fit: cover;
}

.home-center button {
    background-color: #FFF;
    width: 360px;
    height: 80px;
    border-radius: 12px;
    border-color: #ffffff;
    font-size: 25px;
    font-family: "Kaisei Decol";
    color: #815783;
}

.hero {
    text-align: center;
    font-size: 40px;
    color: #815783;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

.hero-section {
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #815783;
    border-radius: 25px;
    width: 25%;
    margin: 35px;
    text-align: center;
}

.hero-section img {
    margin-top: 15px;
    margin-bottom: 0px;
    width: 80%;
}

.hero-section h3 {
    margin-top: 15px;
}

.products {
    width: 100%;

}

.products h1 {
    margin-bottom: 20px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 15px;
    padding: 15px;
    justify-content: center;
}

.product-card {
    background-color: white;
    height: 350px;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card img {
    max-width: 100%;
    height: 50%;
    border-radius: 5px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 20px;
}

.product-card p {
    color: #333;
    font-weight: bold;
}

.product-card button {
    padding: 10px 20px;
    background-color: #fffc40;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color:  #faf877;
}

.linea {
    background-color: #FFB8BE;
    width: 100%;
    padding: 20px;
    color: #FFF;
    font-family: "Kaisei Decol";
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.carousel-inner,
.carousel-item {
    width: 100%;
    height: auto;
    margin-top: 50px;
    object-fit: cover;
}

.sobre-mi img {
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.sobre-mi {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    width: 100%;
    height: 750px;
    background-color: #E8F88D;
    border-radius: 12px;
}

.sobre-mi div {
    width: 50%;
    padding: 25px;
    text-align: start;

}

.sobre-mi div p {
    font-size: 20px;
}

.sobre-mi div h2 {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #000000;
    font-size: 24px;
    font-weight: bold;
}

.sobremititulo {
padding: 15px;
    text-align: center;
    font-size: 40px;
   
}

hr {
    color: #815783;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


@media (max-width:900px) {

    header,
    nav.navbar {
        height: 100%;
        padding: 15px;
    }

    .logo {
        font-size: 22px;
        flex-direction: column;
    }

    nav .nav-uno,
    nav .nav-dos {
        font-size: 18px;
    }
}

@media (max-width:768px){
    .sobre-mi{
        flex-direction: column;
        height: 100%;
    }
    .sobre-mi img, .sobre-mi div {
        width: 100%;
    }
}