@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

.maquillate-html {
    background-color: #FAF5F1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}


.main-header-maquillate {
  @extend .title;
}


.home-center-maquillate {
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;

    }
}

.carrusel {
    margin: 50px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .slides {
        display: flex;
        animation: scrollInfinite 15s linear infinite;
        gap: 30px;

        .slide {
            width: 400px;
            height: 600px;
            flex-shrink: 0;

        }

    }

}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
}


.presentacion {
    padding: 30px;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
    text-align: center;

    h2 {
        font-family: "prata";
        font-size: 30px;
    }

    h3 {
        font-family: "kaisei decol";
        font-size: 20px;
        color: #333;
    }

}


.text {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px auto;
    border-radius: 8px;
    width: 80%;
    text-align: center;

    li {
        font-family: "prata";
        text-align: justify;
        display: inline-block;
        width: 80%;
        text-align: left;
        margin: 20px auto;
        font-size: 20px;
        background-color: #ffffff;

    }

    h4 {
        font-family: "prata";
        font-size: 30px;
        color: #815783;
        text-align: left;
    }

    p {
        font-family: "prata";
        text-align: justify;
        display: inline-block;
        width: 80%;
        text-align: left;
        margin: 20px auto;
        font-size: 20px;
        background-color: #ffffff;
    }

}


@keyframes scrollInfinite {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));
    }
}

@media (prefers-reduced-motion: reduce) {
    .slides {
        animation: none;
    }
}