@media (max-width: 928px) {


    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 25px
    }

    .home-center button {
        width: 360px;
        height: 80px;
        font-size: 20px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }


    .logo {
        font-size: 20px;
        flex-direction: row;
    }

    nav .nav-uno,
    nav .nav-dos {
        font-size: 15px;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}

@media (max-width:900px) {
    h1 {
        font-size: 70px;
    }

    h2 {
        font-size: 25px
    }

    .home-center button {
        width: 360px;
        height: 80px;
        font-size: 20px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    header,
    nav.navbar {
        height: 100%;
        padding: 15px;
    }

    .logo {
        font-size: 22px;
        flex-direction: column;
    }

    nav .nav-uno,
    nav .nav-dos {
        font-size: 18px;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}

@media (max-width:882px) {
    h1 {
        font-size: 68px;
    }

    h2 {
        font-size: 25px
    }

    .home-center button {
        width: 360px;
        height: 80px;
        font-size: 20px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    header,
    nav.navbar {
        height: 100%;
        padding: 15px;
    }

    .logo {
        font-size: 22px;
        flex-direction: row;
    }

    nav .nav-uno,
    nav .nav-dos {
        font-size: 144px;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}


@media (max-width:882px) {
    h1 {
        font-size: 64px;
    }

    h2 {
        font-size: 22px
    }

    .home-center button {
        width: 350px;
        height: 80px;
        font-size: 20px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    header,
    nav.navbar {
        height: 100%;
        padding: 15px;
    }

    .logo {
        font-size: 22px;
        flex-direction: row;
    }

    nav .nav-uno,
    nav .nav-dos {
        font-size: 10px;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}


@media (max-width:820px) {

    h1 {
        font-size: 55px;
    }

    h2 {
        font-size: 15px
    }

    .home-center button {
        width: 330px;
        height: 70px;
        font-size: 20px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    .sobre-mi {
        flex-direction: column;
        height: 100%;
    }

    .sobre-mi img,
    .sobre-mi div {
        width: 100%;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}

@media (max-width:714px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 15px
    }

    .home-center button {
        width: 270px;
        height: 70px;
        font-size: 20px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}

@media (max-width:608px) {
    h1 {
        font-size: 35px;
    }

    h2 {
        font-size: 15px
    }

    .home-center button {
        width: 250px;
        height: 70px;
        font-size: 20px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}

@media (max-width:572px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 15px
    }

    .home-center button {
        width: 200px;
        height: 70px;
        font-size: 15px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    footer img {
        width: 250px;
        height: auto;
    }

    nav .nav-uno,
    nav .nav-dos {
        font-size: 10px;
        gap: 25px;
    }

    nav .nav-items {
        gap: 20px;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}

@media (max-width:476px) {

    header,
    nav.navbar {
        height: 100%;
        padding: 15px;
    }

    .logo {
        font-size: 22px;
        flex-direction: row;
    }

    nav .nav-uno,
    nav .nav-dos {
        font-size: 10px;
        gap: 25px;
    }

    nav .nav-items {
        gap: 10px;
    }

    h1 {
        font-size: 25px;
    }

    h2 {
        font-size: 12px
    }

    .home-center button {
        width: 150px;
        height: 50px;
        font-size: 12px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
        width: 100%;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}

@media (max-width:476px) {

    header,
    nav.navbar {
        height: 100%;
        padding: 15px;
    }

    .logo {
        font-size: 22px;
        flex-direction: row;
    }

    nav .nav-uno,
    nav .nav-dos {
        font-size: 10px;
        gap: 25px;
    }

    nav .nav-items {
        gap: 10px;
    }

    h1 {
        font-size: 17px;
    }

    h2 {
        font-size: 10px
    }

    .home-center button {
        width: 100px;
        height: 40px;
        font-size: 10px;
    }

    .home-center {
        display: flex;
        justify-content: start;
        align-items: center;
        color: $secondary-color;
        padding: 30px;
        gap: 50px;
        width: 100%;
    }

    .home-center img {
        width: 42%;
        object-fit: cover;
    }

    .hero-section {
        margin: 15px;

    }

    .linea p {
        font-size: 18px;
    }
}

@media (max-width: 1000px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 250px);
        gap: 15px;
    }

    nav .nav-uno,
    nav .nav-dos {
        display: flex;
        gap: 50px;
        font-size: 15px;
        font-family: Prata;
        font-weight: 700;
    }

    .product-sort {
        width: 100%;
        height: 50px;
    }

    .filters {
        width: 15%;
        padding: 5px;
    }

    li {
        padding: 0px;
        font-weight: 700;
        font-size: 15px;
    }

    .logo {
        font-size: 30px;
    }

}

@media (max-width: 930px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 225px);
        gap: 15px;
    }


}

@media (max-width: 850px) {
    .product-grid {
        display: grid;
        grid-template-columns: repeat(3, 215px);
        gap: 15px;
    }


}