.title{
    text-align: center;
    margin: 0px 0;
    color: #383838;
    background-color: #fa929c;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "prata";
    font-size: 30px;
}