@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
    background-color: #FAF5F1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

nav {
    height: 60px;
    padding-left: 25px;
    margin-right: 35px;
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    
}

nav a {
    text-decoration: none;
}

nav .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

nav .nav-uno,
nav .nav-dos {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: Prata;
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #000000;
    font-family: Prata;
}

.logo img {
    width: auto;
    height: 50px;
}


a:link{
    color: #333;
}

a:visited{
    color: #333;
}

a:hover{
    color: #815783;
}

a:active{
    color: #333;
}


.main-header {
    text-align: center;
    margin: 0px 0;
    color: #383838;
    background-color: #fa929c;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "prata";
    font-size: 22px;
    


}

.main-header h1 {
    margin: 0;
    color: #333;
    
}

.home-center {
    background-image:url(images-pages/fondoblur.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #383838;
    height:400px;
    padding: 30px;
}

.home-center p {
    font-family: "prata";
    font-size: 50px;
}

.home-center button {
    padding: 10px 20px;
    background-color: #E8F88D;
    color: #383838;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: prata;
    font-size: 30px;
    height: 90px;
    width: 300px;
}

.routine {
    margin: 40px auto;
    max-width: 1200px;
}

.routine h2 {
    font-size: 50px;
    color: #815783;
    text-align: center;
}

.biotipo {
    font-size: 35px;
    color: #fa929c;
    margin-bottom: 40px;
    text-align: center;
}

.routine-steps {
    display: flex;
    justify-content: space-between; 
    align-items: stretch; 
    gap: 20px; }

.step {
    font-family: "kaisei decol";
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%; 
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height:600px; 
}

.step img {
    max-width: 100px; 
    height: 200px; 
    object-fit: cover; 
    margin-bottom: 20px;
}


.step h4 {
    font-size: 1.4em;
    color:#383838;
    margin-bottom: 15px;
}


.step p {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    flex-grow: 1; 
}

.buy-button {
    display: block;           
    margin: 20px auto;        
    padding: 15px 30px;
    background-color:#E8F88D;
    color: #333;
    border: none;
    font-family: "kaisei decol";
    border-radius: 5px;
    font-size: 28px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}