@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

body {
    background-color: #FAF5F1;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}



.main-header {
    text-align: center;
    margin: 0px 0;
    color: #383838;
    background-color: #FFE4C6;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: prata;
    


}

.main-header h1 {
    margin: 0;
    color: #333;
    
}


.main-container {
    display: flex;
    margin: 20px;
    
    
}
nav {
    height: 60px;
    padding-left: 25px;
    margin-right: 35px;
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
    
}

nav a {
    text-decoration: none;
}

nav .nav-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

nav .nav-uno,
nav .nav-dos {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000000;
    font-size: 20px;
    font-family: Prata;
    font-weight: 700;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #000000;
    font-family: Prata;
}

.logo img {
    width: auto;
    height: 50px;
}


a:link{
    color: #333;
}

a:visited{
    color: #333;
}

a:hover{
    color: #815783;
}

a:active{
    color: #333;
}
.product-sort {
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-radius: 5px;
    color: #383838;
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.filters {
    width: 20%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    color: #383838;

}

ul {
    list-style-type: none;
}

li {
    padding: 15px;
    color: #815783;
    font-weight: 700;
    font-size: 25px;
}

.filters h2 {
    margin-top: 0;
}


.products {
    width: 80%;
    margin-left: 20px;
}

.products h1 {
    margin-bottom: 20px;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 225px);
    gap: 15px;
}

.product-card {
    background-color: white;
    height: 300px;
    border-radius: 12px;
    stroke-width: 1px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



.product-card img {
    max-width: 100%;
    height: 50%;
    border-radius: 5px;
}

.product-card h3 {
    margin: 10px 0;
    font-size: 15px;

}

.product-card p {
    color: #333;
    font-weight: bold;
}

.product-card button {
    padding: 10px 20px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.product-card button:hover {
    background-color: #4cae4c;
}
